
/* All of my type selectors */

header figure, header figure img, header figure figcaption, header p, header ul {
    margin: 0;
    padding: 0;
} 

/* Header Grid layout! */
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto min-content min-content;
    column-gap: 3em;
    row-gap: 0;
    grid-template-areas:
    "title title"
    "img p"
    "img ul";
}

header p {
    grid-area: p;
    margin-bottom: 0.5em; 
}

header ul {
    grid-area: ul;
    margin-top: 0.5em; 
}

header h1 {
    grid-area: title;
}

header figure {
    grid-area: img;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header figure img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover; 
}


/* CSS for the image and caption at the top of the page!
    credit to McGarnagle @ https://stackoverflow.com/questions/10128950/how-to-write-a-caption-under-an-image 
    for the information about figure and figcaption
*/


figure img {
    width: 100%;
    height: auto;
    display: block; 
}

figcaption {
    margin-top: 0.5em;
    font-style: italic;
    text-align: center; 
}

/* CSS for the header */
header>h1 {
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: dotted;
}

header>ul {
    line-height: 2em;
}

/* CSS for main! */
main h2 { 
    clear: left;
}
 
/* CSS for the history section! */

section#history>p {
    line-height: 1.65em;
}

/* CSS for the Documents section!*/

section#documents a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(124, 8, 118, 0.747)
}

/* References! */

section {
    padding-bottom: 3em;
}

section#references ul {
    list-style-type: none;
    padding: 0;
}

section#references li {
    line-height: 2em;
}


/* Responsive web design! */

/* This media query fixes the formating of the text next to the picture in the header */
@media only screen and (max-width: 1250px) {
    header {
        display: grid;
        grid-template-columns: 1fr; /* Single column on mobile */
        grid-template-rows: auto auto auto auto; /* Four stacked rows */
        column-gap: 0;
        row-gap: 1em;
        grid-template-areas:
        "title"
        "img"
        "p"
        "ul";
    }
    
    header figure img {
        max-height: 300px; 
        width: 100%;
        object-fit: cover;
    }
    
    header p {
        font-size: 1.1em;
        line-height: 1.6;
    }
    
    header ul {
        font-size: 1.1em;
        list-style-type: none;
    }
    

    header, main {
        width: 95%;
    }
}
