/* Table Padding */
th {
    padding: 16px 16px;
}

td {
    padding: 16px 16px;
}

h2 {
  padding-top: 2em;
}

/* Turning the table into a mobile-friendly version.
    Credit goes to: https://www.geeksforgeeks.org/html
    /how-to-create-a-responsive-table-in-css/ for the responsive table */

@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr {
    margin-bottom: 15px;
    border: 1px solid #000000;
  }
  
  td {
    border: none;
    border-bottom: 1px solid #000000;
    position: relative;
    padding-left: 50%;
  }
  
  td:before {
    content: attr(data-label);
    position: absolute;
    left: 6px;
    font-weight: bold;
  }
}