 :root{
    font-family: Arial, Helvetica, sans-serif;
    color:#4e4a4a;
}

section.clear {
    clear: both;
}

/* Type Selectors */
h1, h2, h3 {
    text-align: center;
    color:#000000;
}



/* CSS for the navigation and footer have been linked via styles.css to ensure standardization */




 /* CSS for the "Pros" arguments */
.pro {
    float: left;
    width: 50%;
}

.pro li {
    padding-top: 1.5em; 
}

.pro .first_reason {
    padding-top: 1em;
}

li.last_reason {
    list-style-type: none;
    text-align: center;
    font-size: 1.15em;
}

/* CSS for everything in the "Cons" arguments */
.con {
    float: right;
    width: 50%;
}

.con li {
    padding-top: 1.5em;
}

.con .first_reason {
    padding-top: 1em;
}

/* CSS for the conclusion of the page */

section#conclusion>h2 {
    padding-top: 3em;
    border-top: dashed;
}

section#conclusion p {
    line-height:1.5em;
}
/*Media queries! */

/* This media query is to try an keep the side-by-side layout for as long as possible */
@media only screen and (max-width: 1730em) {
    li.last_reason {
        font-size: 1em;
    }
}

/* Clears the floating and makes sure that the website is still readable on smallers screens */
@media only screen  and (max-width: 1500px) {
    .pro {
        clear: both;
        width: 100%;
    }

    .con {
        clear: both;
        width: 100%;
    }
}