section.clear {
    clear: both;
}

/* Type Selectors */
h1, h2, h3 {
    text-align: center;
    color: var(--color-primary);
}



/* CSS for the navigation and footer have been linked via styles.css to ensure standardization */

/* CSS for the comparison section */
div#sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div#sections li {
    padding-top: 1.5em;
}

.pro {
    margin-right: 1em;
    flex-basis: 54%;
}

.con {
    margin-left: 1em;
    flex-basis: 40%;
}


div#sections .first_reason {
    padding-top: 1em;
}

li.last_reason {
    list-style-type: none;
    text-align: center;
    font-size: 1.15em;
}

.con li {
    padding-top: 1.5em;
}

.con .first_reason {
    padding-top: 1em;
} 

/* CSS for the conclusion of the page */

section#conclusion>h2 {
    padding-top: 3em;
    border-top: dashed;
}

section#conclusion p {
    line-height:1.5em;
}
/*Media queries! */

/* This media query is to try an keep the side-by-side layout for as long as possible */
@media only screen and (max-width: 1730em) {
    li.last_reason {
        font-size: 1em;
    }
}

/* Clears the floating and makes sure that the website is still readable on smallers screens */
@media only screen  and (max-width: 1500px) {
    div#sections {
        flex-direction: column;
        align-items: center;
    }
}