 :root{
    font-family: Arial, Helvetica, sans-serif;
    --color-primary: #004225;
    --color-secondary: #FAF3DD;
    --color-accent: #CD7F32;
    --color-dark: #1A1A1A;
    color: var(--color-text);
}


/* All of my type selectors */

body, html {
    padding: 0;
    margin: 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

a {
    color: #363457;
}

h1, h2, h3 {
    text-align: center;
    color: var(--color-primary);
}

p {
    line-height: 1.65em;
}

header {
    width: 80%;
    margin: auto;
}

main {
    width: 80%;
    margin: auto;
}


/* CSS for the navigation */
nav {
    margin: 0;
    padding: 0;
    width: 100%;
     background-color: var(--color-primary);
    text-align: right; 
    height: 70px; 
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 12px 17px; 
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 1.2em;
    line-height: 40px; 
    border: 2px solid transparent;
}

nav a:hover {
    color: var(--color-accent);
}


nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%);
    background-color: var(--color-primary);
    min-width: 250px;
    padding: 0;
    margin: 0;
}

nav ul ul li {
    float: none;
    width: 100%;
}
/* I'm going to be so honest getting this drop down to work the way it does is a result of looking up how to do it and mixing 5 different answers together */
nav ul ul li a {
    display: block;
    padding: 12px 18px;
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

nav ul ul li a:hover {
    color: var(--color-accent);
    background-color: rgba(255, 255, 255, 0.1);
}

nav ul li:hover > ul {
    display: block;
}

nav > ul::after {
    content: "";
    display: block;
    clear: both;
}

nav a:hover {
    color:var(--color-accent);
    background-color: rgba(255, 255, 255, 0.1);
}

header, main {
    transition: margin-top 0.3s ease;
}

/* Apply margin when dropdown IS hovered */
nav:hover:has(.dropdown:hover) ~ header,
nav:hover:has(.dropdown:hover) ~ main {
    margin-top: 90px;
}




/* CSS for the image and caption at the top of the page!
    credit to McGarnagle @ https://stackoverflow.com/questions/10128950/how-to-write-a-caption-under-an-image 
    for the information about figure and figcaption
*/

figure {
    float: left;
    margin: 0 2em 0.5em 0; 
    text-align: center;
    max-width: 25%; 
}

figure img {
    width: 100%;
    height: auto;
    display: block; 
}

figcaption {
    margin-top: 0.5em;
    font-style: italic; 
}

/* CSS for the header */
header>h1 {
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: dotted;
}

header>ul {
    line-height: 2em;
}

/* CSS for main! */
main h2 { 
    clear: left;
}
 
/* CSS for the history section! */

section#history>p {
    line-height: 1.65em;
}

/* CSS for the Documents section!*/

section#documents a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(124, 8, 118, 0.747)
}

/* References! */

section {
    padding-bottom: 3em;
}

section#references ul {
    list-style-type: none;
    padding: 0;
}

section#references li {
    line-height: 2em;
}

/* CSS for the footer */
footer {
    clear: both;
    text-align: left;
    width: 100%;
    font-size: 0.75em;
    border-top: solid 2px;
    background-color: var(--color-primary); 
}

footer>p {
    color: var(--color-secondary);
}

footer>li {
    font-size: 2em;
    text-align: center;
    padding-bottom: 0.5em;
}

footer a {
    color: var(--color-accent);
}

/* Responsive web design! */

/* This media query fixes the navigation menu before it breaks. Doesn't actually come into play on my phone but defintely would on slightly smaller ones.
    I need to adjust the menu so a) cleaner and b) more obvious that The Engine is also a page and not just a dropdown link */

@media only screen and (max-width: 820px) {
    nav {
        height: auto; 
        text-align: center;
        width: 100%; 
    }
    
    nav ul {
        display: block; 
        width: 100%;
    }
    
    nav ul li {
        width: 100%;
        margin: 0;
        padding: 0;
        min-width: none;
    }

    nav ul ul {
        display: none;
        position: static;
        transform: none;
        white-space: normal;
        min-width: none;
    }
    
    nav ul li a {
        width: 100% !important;
        height: auto; 
        padding: 15;
        padding-right: 0;
        padding-left: 0; 
        margin: 0;
        line-height: normal;
        text-align: center;
        border: none;
        border-bottom: 1px solid #555;
        white-space: normal;
    }
    
    nav ul li a:hover {
        border: none;
        border-bottom: 1px solid #555; 
    }
    
    
    nav ul li:last-child a {
        border-bottom: none; 
    }

    nav a.dropdown {
        margin-bottom: 0;
    }
}


/* This media query fixes the formating of the text next to the picture in the header */
@media only screen and (max-width: 985px) {
    figure {
        float: left;
    }

    header ul {
        clear: both;
    }

}