 :root{
    font-family: Arial, Helvetica, sans-serif;
    color:#4e4a4a;
}

/* All of my type selectors */

h1, h2, h3 {
    text-align: center;
    color:rgb(0,0,0);
}



/* CSS for the navigation */
nav>h2 {
    float: left;
}

.navi {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

nav a:link {
    color: #484545;
    text-decoration-line: none;
}

nav a:visited {
    color: #484545;
    text-decoration-line: none;
}

nav a:active {
    color: #000000;
    text-decoration-line: none;
}

nav a:hover {
    color: #000000;
    text-decoration-line: none;
}

nav {
    border-bottom: solid #000000;
    width: 1985px;
    height: 3.5em;
}

/* CSS for the header */

header>img{ 
    float: left;
    width: 25em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    border-top: dotted #008000 3em;
    border-bottom: solid #fa8072 25px;
    border-left: groove 10px;
    border-right: ridge 20px;
}

header>h1 {
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border: dotted;
}

header>ul {
    line-height: 2em;
}

p#header_image_caption {
    clear: left;
    margin-bottom: 2em;
    font-size: 0.8em;
    margin-left: 8em;
}

/* CSS for everything under the Documents section */
section#documents_main>h2 { 
    clear: left;
}

section#documents_main a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(124, 8, 118, 0.747)
}

/* CSS for the footer */
footer {
    font-size: 0.75em;
    border-top: solid 2px;
}
