 :root{
    font-family: Arial, Helvetica, sans-serif;
    color:#4e4a4a;
}

/* All of my type selectors */

h1, h2, h3 {
    text-align: center;
    color:rgb(0,0,0);
}

body {
    width: 70%;
    margin: auto;
    padding: 1em;
}


/* CSS for the navigation */

#nav_menu {
    margin: auto;
    padding-bottom: 2em;
    width: 100%;
}
#nav_menu ul {
    list-style-type: none;
    padding: 0;
}

#nav_menu ul li {
    float: left;
    width: 33%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #9d9d9d;
    color: #ffffff;
    font-weight: bold;
    border-right: 2px solid #ffffff;
}

#nav_menu ul li a.lastitem {
    border-right: none;
}

#nav_menu ul li a:hover {
    background-color:#4e4a4a;
}

/* CSS for the header */

header>img{ 
    float: left;
    width: 25%;
    min-width: 150px;
    margin-right: 2em;
    margin-bottom: 0.5em;
}

header>h1 {
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border: dotted;
}

header>ul {
    line-height: 2em;
}

p#header_image_caption {
    clear: left;
    margin-bottom: 2em;
    font-size: 0.8em;
    margin-left: 8em;
}

/* CSS for everything under the Documents section */
section#documents_main>h2 { 
    clear: left;
}

section#documents_main a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(124, 8, 118, 0.747)
}

/* CSS for the footer */
footer {
    font-size: 0.75em;
    border-top: solid 2px;
}

/* Responsive web design! */

@media only screen and (max-width: 630px) {
    #nav_menu ul li {
        float: none;
        width: 100%;
    }

    #nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid #ffffff;
    }

    #nav_menu ul li a.lastitem {
        border-bottom: none;
    }
}