/* CSS for type selectors! */

h1 {
    text-align: center;
}

figcaption {
    font-size: 0.9em;
}

/* CSS for the header */
figure {
    margin: 0 2em 0.5em 0; 
    text-align: center;
    max-width: 75%; 
}

h1~figure {
    width: 100%;
    margin: auto;
}

figure img {
    width: 100%;
    height: auto;
    display: block; 
}

figcaption {
    margin-top: 0.5em;
    font-style: italic;
    padding-bottom: 1em; 
}

/* CSS for the main body of text */
main p {
    line-height: 1.65em;
}

main li {
    line-height: 1.7em;
}


figure.comparison#rot_gif {
    padding-top: 0.5em;
    float: left;
    width: 35%;
} 

figure.comparison#pist_gif {
    padding-top: 0.5em;
    float: right;
    width: 55%;
}

p#post_comp {
    padding-top: 2em;
    clear: both;
}


/* Media queries for responsive web design! */

@media only screen and (max-width: 820px) {
    figure.comparison#rot_gif {
        float: none;
        width: 100%;
        max-width: 100%;
        margin: auto;

    }

    figure.comparison#pist_gif {
        max-width: 100%;
        float: none;
        width: 100%;
        margin: auto;
    }

    header figure {
        max-width: 100%;
        width: 100%;
    }

    header figure img {
        max-width: 100%;
        width: 100%;
    }

    header figure figcaption {
        font-size: 0.7em;
    }
}
