 :root{
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS for type selectors! */

h1 {
    text-align: center;
}


/* CSS for the navigation and footer have been linked via styles.css to ensure standardization */

/* CSS for the header */
figure {
    float: none;
    margin: 0 2em 0.5em 0; 
    text-align: center;
    max-width: 100%; 
}

h1~figure {
    width: 70%;
    margin: auto;
}

figure img {
    width: 100%;
    height: auto;
    display: block; 
}

figcaption {
    margin-top: 0.5em;
    font-style: italic;
    padding-bottom: 1em; 
}

/* CSS for the main body of text */
main p {
    line-height: 1.65em;
}

main li {
    line-height: 1.7em;
}


figure.comparison#rot_gif {
    padding-top: 0.5em;
    float: left;
    width: 30%;
} 

figure.comparison#pist_gif {
    padding-top: 0.5em;
    float: right;
    width: 60%;
}

p#post_comp {
    padding-top: 2em;
    clear: both;
}


/* Media queries for responsive web design! */

@media only screen and (max-width: 1000px) {
    figure.comparison#rot_gif {
        float: none;
        width: 100%;
    }

    figure.comparison#pist_gif {
        float: none;
        width: 100%;
    }
}
