/* Barebones CSS because most of the styling comes from the main sheet */

figure#rear_left img {
    width: 150%;
}

figcaption#rear_left {
    width: 150%;
}

figure#rear_left {
    width: 50%;
    float: left;
}

figure#pamph_right {
    width: 50%;
    float: right;
}