/* Barebones CSS because most of the styling comes from the main sheet */

figure {
    max-width: 100%
}


figure#rear_left {
    width: 40%;
    float: left;
}

figure#pamph_right {
    width: 40%;
    float: right;
}


@media only screen and (max-width: 820px) {
    figure#rear_left, figure#pamph_right {
        width: 100%;
        float: none;
    }
}